* {
  box-sizing: border-box;
}
body {
  height: 100%;
}

main {
  margin: 0 auto;
  counter-reset: section;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

a {
  text-decoration: none;
  color: inherit;
}
.navbar {
  display: flex;
  justify-content: flex-end;
}
.navbar-menu {
  display: flex;
}
.nav-list {
  margin-left: 2rem;
  cursor: pointer;
}
.nav-list::before {
  counter-increment: li;
  content: "0" counter(li) ".";
  margin-right: 10px;
  font-family: "Nerko One", cursive;
}

.navbar-toggleBtn {
  display: none;
  position: absolute;
  right: 2rem;
}

@media screen and (max-width: 768px) {
  .navbar-toggleBtn {
    display: block;
  }
  .navbar {
    background-color: aqua;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .nav-list {
    margin: 10px 0;
  }
  .navbar-menu.active {
    display: flex;
  }
}

.numbered-h2 {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.numbered-h2::before {
  position: relative;
  counter-increment: section;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: plum;
  font-family: "Nerko One", cursive;
}
.numbered-h2::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: lavender;
}

.rotation-wrapper {
  box-sizing: content-box;
  display: flex;
  /* height:  */
}

.text-rotation-container {
  overflow: hidden;
}
.text-rotation-container span {
  display: block;
  padding-left: 10px;
  /* border: 1px solid orange; */
  animation: rotate-words 6s infinite;
}

@keyframes rotate-words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-410%);
  }
  100% {
    transform: translateY(-400%);
  }
}

section {
  margin: 0 auto;
  max-width: 1000px;
}

/* 02 section */
#about {
  display: flex;
  flex-direction: column;
}

#icon-container {
  display: flex;
  flex-wrap: wrap;
}
.icon-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  margin: 1rem;
  width: 8rem;
  height: 8rem;
  text-align: center;
}
.devicon > img {
  height: 4rem;
  width: 4rem;
  margin: 10px;
}

/* 03 Section */
.project-container {
  display: flex;
  flex-direction: row;
}
.carousel-container {
  flex-basis: 60%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 32rem;
  height: 22rem;
}

.project-content {
  flex-basis: 40%;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;

  /* 이미지 감싸고 있는 박스 크기 */
  width: 100%;
  height: 100%;

  position: relative;
  /* left: 0px;  */
  flex-shrink: 0; /* shrink 기본값 1이라 박스크기에 맞게 줄어드는데, 한개한개 아이템에 보여야하므로 줄어들지않게 0으로 설정 */
  transition: left 0.15s;
}

.carousel-item > img {
  width: 100%;
  height: 100%;
}

.slide_button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: calc(50% - 1rem); /* 버튼이 중앙에 위치하게 하기위해 계산 */
  width: 3rem;
  height: 3rem;
  color: grey; /* 투명하게 바꾸기 */
  cursor: pointer;
}

.slide_prev_button {
  left: 10px;
}
.slide_next_button {
  right: 10px;
}

.slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;

  /* position */
  position: absolute;
  bottom: 0;
  left: 50%; /* 가로 가운데로 위치 */
  transform: translateX(-50%);
}

.slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: rgba(219, 219, 219, 0.6);
  cursor: pointer;
  font-size: 2rem;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #9e9e9e;
}

.tech-list::before {
  content: "\f04b";
  font: var(--fa-font-solid);
  margin-right: 5px;
  color: black;
}
